<router-outlet></router-outlet> -->
<div class="whole-page" style="border: top">
  <header class="header">
    <div class="headerHighlighter">
      <h2 class="text" style="color: rgb(193, 16, 196)">Contact Our</h2>
      <h2 class="text-body-emphasis">Customer Support Center</h2>
    </div>
    <div class="imageRef">
      <img src="../assets/img/laptop1.png" class="img-thumbnail" alt="..." />
    </div>

    <div class="informationHighlighter">
      <h4>Contact Information</h4>
      <h6>Please fill out your contact information below</h6>
    </div>
  </header>
  <div class="container">
    <form class="row g-3">
      <label for="inputName" class="form-label">Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="inputFirstname" />
        <label for="inputFirstname" class="form-label">Firstname</label>
      </div>
      <div class="col-md-6">
        <input type="lastname" class="form-control" id="inputLastname" />
        <label for="text" class="form-label">Lastname</label>
      </div>
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" />
      </div>
      <div class="col-md-6">
        <label for="inputContact" class="form-label">Phone</label>
        <input type="number" class="form-control" id="inputContact" />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
    </form>
  </div>
</div>
